---
import Section from "@/components/Section.astro";
import { certificates } from "@cv";
---

<Section title="Certificaciones">
    <article>
        <ul>
            {
                certificates.map(({name, date, issuer, url }) => {
                    const getYear = new Date(date).getFullYear();
                    return (
                        <article>
                        <header>
                            <div>
                            <h3>
                                <a 
                                    href={url} 
                                    title={`Ver ${name}`} target="_blank"> {issuer}
                                </a>
                            </h3>
                            <h4>{name}</h4>
                        </div>
                            <div>
                                <time 
                                    datetime={date}
                                    data-title={date}>{getYear}
                                </time>
                            </div>
                        </header>
                    </article>
                    )
                })
            }
        </ul>
    </article>
</Section>

<style>
      ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  article h3 {
    font-weight: 500;
    color: #111;
  }

  article a {
    color: #111;
  }

  article a:hover {
    text-decoration: underline;
  }

  article h4 {
    color: #222;
    font-weight: 400;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  time {
    color: #555;
    font-size: 0.85rem;
    min-width: 102px;
    cursor: default;
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
</style>
